.App {
  text-align: center;
}

input {
  margin: 20px;
  height: 2em;
  width: 20em;
  padding: 5px;
  border: 1px solid lightblue;
  border-radius: 5px;
  font-size: 1.1em;
  font-weight: bold;
  color: darkgray;
}
